In [2]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup as bs

### Flight

In [3]:
data = requests.get("""https://api.skypicker.com/flights?\
fly_from=city:BRS&\
fly_to=city:PRG&\
date_from=19/12/2019&\
date_to=23/12/2019""")

In [4]:
Df = json.loads(data.content)

In [5]:
Df = json_normalize(Df["data"])

In [6]:
Df = Df[Df.apply(lambda x: x["route"][0]['cityTo'] == "Prague", axis=1)].sort_values(by="price")
Df

,aTime,aTimeUTC,airlines,baglimit.hand_height,baglimit.hand_length,baglimit.hand_weight,baglimit.hand_width,baglimit.hold_dimensions_sum,baglimit.hold_height,baglimit.hold_length,...,p1,p2,p3,pnr_count,price,quality,route,routes,transfers,virtual_interlining
6,1577118000,1577114400,[U2],45,56,15,25,275.0,90,135,...,1,1,1,1,96,123.99993,"[{'id': '1f2d145c474d00005f955bd3_0', 'combina...","[[BRS, PRG]]",[],False
10,1576772400,1576768800,[U2],45,56,15,25,275.0,90,135,...,1,1,1,1,101,128.99993,"[{'id': '1f2d145c47490000f5842621_0', 'combina...","[[BRS, PRG]]",[],False
19,1576858800,1576855200,[U2],45,56,15,25,275.0,90,135,...,1,1,1,1,110,137.99993,"[{'id': '1f2d145c474a0000765c8c9b_0', 'combina...","[[BRS, PRG]]",[],False
23,1577045700,1577042100,[U2],45,56,15,25,275.0,90,135,...,1,1,1,1,115,142.99993,"[{'id': '1f2d145c474c0000a81d7b11_0', 'combina...","[[BRS, PRG]]",[],False
30,1576922700,1576919100,[U2],45,56,15,25,275.0,90,135,...,1,1,1,1,123,150.99993,"[{'id': '1f2d145c474b000092dbbb1f_0', 'combina...","[[BRS, PRG]]",[],False

In [7]:
booking_token = Df.iloc[0, 14]

In [8]:
data = requests.get(f"""https://booking-api.skypicker.com/api/v0.1/check_flights?\
v=2&bnum=1&pnum=1&affily=some_id&\
booking_token={booking_token}""")

In [9]:
json.loads(data.content)

{'server_time': 1560237279,
 'pnum': 1,
 'flights': [{'id': '1f2d145c474d00005f955bd3_0',
   'combination_trip_id': '1f2d145c474d00005f955bd3',
   'original_trip_id': '1f2d145c474d00005f955bd3',
   'atime': 1577118000,
   'dtime': 1577107200,
   'atime_utc': 1577114400,
   'dtime_utc': 1577107200,
   'atime_unix': 1577118000,
   'dtime_unix': 1577107200,
   'atime_unix_utc': 1577114400,
   'dtime_unix_utc': 1577107200,
   'dst': 'PRG',
   'src': 'BRS',
   'flight_no': '6265',
   'airline': {'id': 3,
    'code': 'U2',
    'name': 'easyJet',
    'url': 'http://www.easyjet.com',
    'checkin': 30,
    'close_booking_hours': 4,
    'booking_doc_needed': 2,
    'airport_checkin': 12,
    'passengers_in_search': 1,
    'doing_online_checkin': 1,
    'maximum_passengers': 9,
    'grade': 'A',
    'virtual_card_req': False,
    'country': 'UK',
    'carrier_type': 'airline',
    'parent_carrier': None,
    'checkin_closure': 2.0,
    'shorter_stopovers_allowed': 1,
    'deprecated': False,
    'book_fee': 9.11,
    'fee_airline': 0.0,
    'search_priority': 1,
    'fee_instead': 0.0,
    'fee_percent': 0.0,
    'flight_change_fee': 50.0,
    'threshold_child': None,
    'threshold_teen': None,
    'threshold_adult': None,
    'fees_per_source': {},
    'affil_url': None,
    'temporary_disabled': None,
    'non_active_reason': None,
    'lcc': None,
    'active': 1,
    'iatacode': 'U2',
    'is_passenger_cardholder': None,
    'is_private_fares_allowed': None,
    'luggage_only_during_checkin_airlines': None,
    'luggage_only_on_web': None,
    'mmb_link': 'https://www.easyjet.com/mylogin/en-GB/LogOn?ReturnUrl=%2fmylogin%2fen-GB%3fwa%3dwsignin1.0%26wtrealm%3durn%253a%252fmanagebookings%26wctx%3drm%253d0%2526id%253dpassive%2526ru%253d%25252fmanagebookings%25252fen-GB%26wct%3d2019-04-26T16%253a07%253a43Z%26wauth%3durn%253aeasyjet.com%253amember',
    'payment_card_copy_eticket_requirement': False,
    'skip_subairline_merge': None,
    'Name': 'easyJet',
    'iata': 'U2',
    'hand_length': 56,
    'hand_width': 25,
    'hand_height': 45,
    'hand_weight': 15,
    'hold_weight': 15,
    'hold_length': 135,
    'hold_width': 50,
    'hold_height': 90,
    'hand2_length': None,
    'hand2_width': None,
    'hand2_height': None,
    'hand2_weight': None,
    'hand2_note': '',
    'hand_note': '',
    'hold_note': ''},
   'operating_airline': {'iata': 'U2', 'name': 'easyJet'},
   'source': 'lcc-U2',
   'combination_src': 'BRS',
   'combination_dst': 'PRG',
   'combination_date': 1577107200,
   'combination_return_date': None,
   'scraping_start': 0,
   'extras': 'U2',
   'passengers_flight_check': {'1': {'eur': 79.53,
     'invalid': False,
     'last_checked': 1560237131}},
   'price': 79.53,
   'eur': 79.53,
   'base_fare': {'amount': 70.99, 'currency': 'GBP'},
   'found_on': 'lcc-U2',
   'invalid': 0,
   'timestamp': 1560237131,
   'refreshed': 1560237131,
   'refresh_ttl': 120,
   'refresh_period': 5,
   'fare_basis': '',
   'fare_category': 'M',
   'fare_class': None,
   'is_cabin_bags_with_priority_boarding': False,
   'source_name': 'lcc-U2',
   'source_url': '',
   'checkin': 1574515200,
   'src_country': 'GB',
   'dst_country': 'CZ',
   'src_station': 'Bristol',
   'dst_station': 'Václav Havel Airport Prague',
   'infants_conditions': {'trolley': True, 'hand_weight': 0},
   'eur_infants': 25.0,
   'eur_children': 79.53,
   'max_passengers_for_price': 1,
   'src_name': 'Bristol',
   'dst_name': 'Prague',
   'is_hidden': False,
   'return': 0,
   'guarantee': False,
   'guarantee_disclaimer': '',
   'bags_recheck_required': False,
   'bags_recheck_disclaimer': '',
   'fees': {'bags_restrictions': {'1': {'weight': 15,
      'height': 90,
      'width': 50,
      'length': 135,
      'dimensions_sum': 275},
     '2': {'weight': 15,
      'height': 90,
      'width': 50,
      'length': 135,
      'dimensions_sum': 275}},
    'bags_price': {'1': [26.532, 22.11], '2': [26.532, 22.11]},
    'bags_fee': 44.22,
    'additional_order_baggage_fee': 0.0,
    'fee_airline': 0.0,
    'book_fee': 9.11,
    'booking_fee': 9.11,
    'apf': 0.0,
    'fee_instead': 0.0}}],
 'flights_checked': True,
 'flights_to_check': False,
 'flights_real_checked': True,
 'flights_invalid': False,
 'max_passengers': 9,
 'infants_conditions': {'trolley': True, 'hand_weight': 0},
 'document_options': {'document_need': 2,
  'checkin_date': 1576934400,
  'airport_checkin_price': 12},
 'visas_agreement_requiered': True,
 'transfers': [],
 'route': ['BRS', 'PRG'],
 'book_fee': 9.11,
 'fee_airline': 0.0,
 'extra_fee': 0,
 'discounts': {'discounts': []},
 'flights_price': 79.55,
 'total': 122.53,
 'sp_fee': 13.3,
 'flight_real_price': 88.66,
 'one_passenger': 122.53,
 'credits_price': 122.53,
 'orig_price_usage': True,
 'price_change': False,
 'tickets_price': 96.0,
 'orig_price': 96.0,
 'insurance_data': {'travel_basic': {'price': 14.88, 'product_num': '01'},
  'travel_plus': {'price': 30.88, 'product_num': '03'},
  'tarif': 'TA',
  'valid_from': 1577059200,
  'valid_to': 1578268800,
  'skysilver': {'price': 14.88, 'product_num': '01'},
  'skygold': {'price': 30.88, 'product_num': '03'}},
 'insurance_price': {'travel_basic': 14.88,
  'travel_plus': 30.88,
  'skysilver': 14.88,
  'skygold': 30.88},
 'adults_price': 96.0,
 'children_price': 0.0,
 'infants_price': 0.0,
 'bags': {'_is_deprecated': True,
  'definitions': {'cabin_bag': [{'price': 0.0,
     'conditions': {'passenger_groups': ['adult', 'child']},
     'category': 'cabin_bag',
     'restrictions': {'weight': 15, 'length': 56, 'height': 45, 'width': 25},
     'currency': 'EUR',
     'note': None,
     '_warning': 'DEPRECATED DO NOT USE!'},
    {'price': 0.0,
     'conditions': {'passenger_groups': ['infant']},
     'category': 'cabin_bag',
     'restrictions': {'weight': 5, 'length': 45, 'height': 36, 'width': 20},
     'currency': 'EUR',
     'note': None,
     '_warning': 'DEPRECATED DO NOT USE!'}]}},
 'bags_fee': 26.53,
 'bags_fee_split': {'base': 22.11,
  'service': 4.42,
  'amount': 26.53,
  'currency': 'EUR'},
 'bags_price': {'1': 26.53, '2': 53.06},
 'bags_price_split': {'_abp': 0.2,
  '1': {'amount': 26.53,
   'currency': 'EUR',
   'base': 22.11,
   'service': 4.42,
   'service_flat': 0.0},
  '2': {'amount': 26.53,
   'currency': 'EUR',
   'base': 22.11,
   'service': 4.42,
   'service_flat': 0.0}},
 'hand_bags_price': {},
 'bags_restrictions': {},
 'additional_order_baggage_fee': 0.0,
 'luggage': [56,
  25,
  45,
  15,
  15,
  135,
  50,
  90,
  '',
  None,
  None,
  None,
  None,
  '',
  ''],
 'segments': [],
 'currency': 'EUR',
 'conversion': {'currency': 'EUR',
  'amount': 122.53,
  'bags_price': {'1': 26.53, '2': 53.06},
  'additional_order_baggage_fee': 0.0,
  'adults_price': 96.0,
  'children_price': 0.0,
  'infants_price': 0.0},
 'booking_token': 'xlfCK4DnW9vdUZ D9I2V7oeCzQomDQeVxMNtOeojJHCepvAJOToxpgcHOu8NspDcVZQgbsA87Qad4i9qxtWat1 1HVEn2VGQgMCG40xaLR1csVa7 ayv8EpnU1T8dmyWZr9c GQrm9cSpkPNsUmunCi7HzOSLZmVlXeFH/NwtlkybRY5fqA2YfDT3AVP8kJ1ZNRO2NbHFKCc/EqOsOc/PeqIY1dnAFftuztyDWzhJphEpWMBWJz8cuIrWIfU WghopDZYAWsEIKfHxWaS/dYz5tqleOR6Otq1xHFw4KrhVqm14dmYTXzEkYoH1i8W82I6yKC04qusvXowFDrwi2uPIc9ub1c7BD9fMl DEyeZOjwqqz3X7LIMswfYc/7oDukkQfDpBEzsN7XjiVJ0c77zGFOWWYFerZBd48uOX2c5Lfg51ni6rCyCD3n0oUqbme/3jRqwnxTcU/uwdcq2HjH4c34nABb5EZm3FEC0WeUhK9F4H7ZcHFvfiao1JPtmoOkHvMqd16S tBG2ItTrX97nsW1WCWWHYpV0/zqVFd0vALmL5xKdQ2/zVDnOXQlLP12f V7rPoOUwIREO76ECXNfWQ2j1pLihTT5nh4h6Cw6u4QH90guWD/jrB76mN7ALaG8o6TcT8mvZqQI6sJw20iYbuhCUZLa47mx7Wew5AOorMPw0nUMMxnXc3mTdTYUsAVoxgnnwgdWEZ0kgWNJ5KzzZFjXP WYJH3REf9elT1sfJ9sDykWg7GoH7jtD/1QV6QTY2 rNw RMF9lkgrUDjKGT7CEOkQuPeOizU/T76gbqpQEJGTeFILdrv8pC1BiOil',
 'adult_threshold': 16,
 'age_category_thresholds': {'adult': None, 'child': None},
 'additional_services': {},
 'baggage': {'definitions': {'hold_bag': [{'price': {'currency': 'EUR',
      'amount': 26.53,
      'base': 22.11,
      'service': 4.42,
      'service_flat': 0.0,
      'merchant': 0.0},
     'conditions': {'passenger_groups': ['adult', 'child']},
     'category': 'hold_bag',
     'restrictions': {'dimensions_sum': 275,
      'weight': 15,
      'length': 135,
      'height': 90,
      'width': 50}}],
   'hand_bag': [{'price': {'currency': 'EUR',
      'amount': 0.0,
      'base': 0.0,
      'service': 0.0,
      'service_flat': 0.0,
      'merchant': 0.0},
     'conditions': {'passenger_groups': ['adult', 'child']},
     'category': 'cabin_bag',
     'restrictions': {'weight': 15, 'length': 56, 'height': 45, 'width': 25}},
    {'price': {'currency': 'EUR',
      'amount': 0.0,
      'base': 0.0,
      'service': 0.0,
      'service_flat': 0.0,
      'merchant': 0.0},
     'conditions': {'passenger_groups': ['infant']},
     'category': 'cabin_bag',
     'restrictions': {'weight': 5, 'length': 45, 'height': 36, 'width': 20}}]},
  'combinations': {'hold_bag': [{'indices': [],
     'category': 'hold_bag',
     'conditions': {'passenger_groups': ['adult', 'child', 'infant']},
     'price': {'currency': 'EUR',
      'amount': 0.0,
      'base': 0.0,
      'service': 0.0,
      'service_flat': 0.0,
      'merchant': 0.0}},
    {'indices': [0],
     'category': 'hold_bag',
     'conditions': {'passenger_groups': ['adult', 'child']},
     'price': {'currency': 'EUR',
      'amount': 26.53,
      'base': 22.11,
      'service': 4.42,
      'service_flat': 0.0,
      'merchant': 0.0}},
    {'indices': [0, 0],
     'category': 'hold_bag',
     'conditions': {'passenger_groups': ['adult', 'child']},
     'price': {'currency': 'EUR',
      'amount': 53.08,
      'base': 44.23,
      'service': 8.85,
      'service_flat': 0.0,
      'merchant': 0.0}}],
   'hand_bag': [{'indices': [0],
     'category': 'hand_bag',
     'conditions': {'passenger_groups': ['adult', 'child']},
     'price': {'currency': 'EUR',
      'amount': 0.0,
      'base': 0.0,
      'service': 0.0,
      'service_flat': 0.0,
      'merchant': 0.0}},
    {'indices': [1],
     'category': 'hand_bag',
     'conditions': {'passenger_groups': ['infant']},
     'price': {'currency': 'EUR',
      'amount': 0.0,
      'base': 0.0,
      'service': 0.0,
      'service_flat': 0.0,
      'merchant': 0.0}}]},
  'notices': {}}}

### Laptops

In [10]:
professional = requests.get("https://www.alza.co.uk/professional-laptops/18853299.htm")
home_office = requests.get("https://www.alza.co.uk/basic-home-and-office-laptops/18843464.htm")
gaming = requests.get("https://www.alza.co.uk/gaming-laptops/18848814.htm")

In [20]:
def npp(soup):
    def zerotext(l):
        try:
            data = []
            for i in range(len(l)):
                data.append(l[i].text)
            return data
        except IndexError:
            return None
    return zerotext(soup.select(".firstRow .name")), \
           zerotext(soup.select(".firstRow .np2")), \
           zerotext(soup.select(".firstRow .c2"))

In [21]:
pd.DataFrame(list(npp(bs(professional.text))))

                             0                   1                     2
0  Lenovo V330-14IKB Iron Grey  Dell Latitude 5590  Lenovo ThinkPad T480
1                      £618.90           £1,502.90                £1,969
2                      £570.90           £1,084.90                £1,929

In [22]:
pd.DataFrame(list(npp(bs(home_office.text))))

,0,1,2
0,Microsoft Surface Go 128GB 8GB LTE,Dell Latitude 5590,Dell G7 17 (7790) Gaming Black
1,"£1,502.90","£1,939",None
2,£659,"£1,084.90","£1,629"

In [23]:
pd.DataFrame(list(npp(bs(gaming.text))))

,0,1,2
0,Lenovo IdeaPad 720s-15IKB Silver Metallic,Lenovo Legion Y530-15ICH Black,Dell G7 17 (7790) Gaming Black
1,£979,"£1,325.90","£1,939"
2,£889,"£1,220.90","£1,629"