How can you produce a list of the start times for bookings by members named 'David Farrell'?
```mysql
SELECT starttime
FROM cd.bookings
JOIN cd.members
	ON cd.bookings.memid = cd.members.memid
WHERE CONCAT(cd.members.firstname, ' ', cd.members.surname) = 'David Farrell';
```

Work out the start times of bookings for tennis courts
```mysql
SELECT cd.bookings.starttime AS start, cd.facilities.name AS name
FROM cd.bookings
JOIN cd.facilities
	ON cd.facilities.facid = cd.bookings.facid
WHERE cd.bookings.starttime::DATE = '2012-09-21'::DATE
	AND name LIKE 'Tennis Court _'
ORDER BY start;
```

How can you output a list of all members who have recommended another member? Ensure that there are no duplicates in the list, and that results are ordered by (surname, firstname).
```mysql
SELECT firstname, surname
FROM cd.members
WHERE memid IN (SELECT recommendedby 
				FROM cd.members)
ORDER BY surname, firstname;
```

How can you output a list of all members, including the individual who recommended them (if any)? Ensure that results are ordered by (surname, firstname).
```mysql
SELECT cd.members.firstname AS memfname, 
	cd.members.surname AS memsname, 
	recfname, 
	recsname
FROM cd.members
LEFT JOIN (SELECT cd.members.memid,
		    cd.members.firstname AS recfname,
	  		cd.members.surname AS recsname
		  FROM cd.members) AS rec
	ON cd.members.recommendedby = rec.memid
ORDER BY memsname, memfname;
```

How can you produce a list of all members who have used a tennis court? Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name.
```mysql
SELECT DISTINCT CONCAT(firstname, ' ', surname) AS member, cd.facilities.name AS facility
FROM cd.members
JOIN cd.bookings
	ON cd.members.memid = cd.bookings.memid
JOIN cd.facilities
	ON cd.facilities.facid = cd.bookings.facid
WHERE cd.facilities.name LIKE 'Tennis Court _'
ORDER BY member;
```

How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user is always ID 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.
```mysql

```