Find the titles of all movies directed by Steven Spielberg. 
```mysql
SELECT title
FROM Movie
WHERE director = 'Steven Spielberg';
```

Find all years that have a movie that received a rating of 4 or 5, and sort them in increasing order. 
```mysql
SELECT DISTINCT year
FROM Movie
INNER JOIN Rating
    ON Rating.mID = Movie.mID
WHERE Rating.stars > 3
ORDER BY year
```

Find the titles of all movies that have no ratings. 
```mysql
SELECT title
FROM Movie
LEFT JOIN Rating
    ON Rating.mID = Movie.mID
WHERE Rating.rID IS NULL;
```

Some reviewers didn't provide a date with their rating. Find the names of all reviewers who have ratings with a NULL value for the date. 
```mysql
SELECT name
FROM Reviewer
INNER JOIN Rating
    ON Reviewer.rID = Rating.rID
WHERE ratingDate IS NULL;
```

Write a query to return the ratings data in a more readable format: reviewer name, movie title, stars, and ratingDate. Also, sort the data, first by reviewer name, then by movie title, and lastly by number of stars. 
```mysql
SELECT Reviewer.name, Movie.title, Rating.stars, Rating.ratingDate
FROM Rating
LEFT JOIN Reviewer
    ON Reviewer.rID = Rating.rID
LEFT JOIN Movie
    ON Movie.mID = Rating.mID
ORDER BY Reviewer.name, Movie.title, Rating.stars;
```

Find the names of all reviewers who rated Gone with the Wind. 
```mysql
SELECT DISTINCT Reviewer.name
FROM Reviewer
INNER JOIN Rating
    ON Rating.rID = Reviewer.rID
INNER JOIN Movie
    ON Movie.mID = Rating.mID
WHERE Movie.title = 'Gone with the Wind';
```

For any rating where the reviewer is the same as the director of the movie, return the reviewer name, movie title, and number of stars. 
```mysql
SELECT Reviewer.name, Movie.title, Rating.stars
FROM Reviewer
INNER JOIN Rating
    ON Rating.rID = Reviewer.rID
INNER JOIN Movie
    ON Rating.mID = Movie.mID
WHERE Reviewer.name = Movie.director;
```

Create a view where you display the reviewer's name and the amount of their review
```mysql
CREATE VIEW name_review AS 
    SELECT Reviewer.name, n_review
    FROM(
        SELECT Rating.rID as rid, COUNT(*) as n_review
        FROM Rating
        INNER JOIN Reviewer
            ON Rating.rID = Reviewer.rID
        GROUP BY Rating.rID
        ) reviewer_id
    JOIN Reviewer
    ON Reviewer.rID = reviewer_id.rID;
```

Create a view where you display the movies which have no review
```mysql
CREATE VIEW movie_no_review AS
    SELECT Movie.title
    FROM Movie
    LEFT JOIN Rating
        ON Rating.mID = Movie.mID
    WHERE Rating.rID IS NULL;
```

Create a view where you display all the directors (do not include null values)
```mysql
CREATE VIEW all_director AS
    SELECT director
    FROM Movie
    WHERE director IS NOT NULL;
```

Create a view where you display the movie title and the average rating
```mysql
CREATE VIEW movie_rating AS
    SELECT Movie.title, avg_rating
    FROM (
        SELECT Rating.mID, AVG(stars) AS avg_rating
        FROM Rating
        GROUP BY Rating.mID
        ) AS avg_Rating
    INNER JOIN Movie
    ON Movie.mID = avg_Rating.mID;
```